@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sacramento&display=swap");

:root {
  --primary: #7f27ff;
  --secondary: #ff8911;
  --info: #fdbf60;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
p,
ul,
body {
  font-family: "inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
footer,
section {
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  background-color: white;
  box-shadow: 0px 4px 10px #b8b8b8;
  font-size: 20px;
  font-weight: 500;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav .merk {
  margin: auto 0;
}
.home {
  padding: 50px 100px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.picture {
  margin: auto;
}

.introduce {
  margin: auto;
  width: 550px;
}
.introduce h1 {
  font-family: "sacramento";
  font-size: 128px;
  color: var(--primary);
  font-weight: lighter;
  margin: 0;
}

.introduce h4 {
  font-size: 28px;
  font-weight: bold;
  text-align: start;
  margin: 0;
}

.about {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
}

.about-container,
.choose {
  display: flex;
  flex-direction: column;
  margin: 48px 100px;
  gap: 48px;
}

.header {
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  margin: 24px 0;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  text-align: center;
  font-size: 28px;
  gap: 24px;
}

.keahlian ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 150px 50px;
}

.keahlian ul li {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.choose-content {
  margin: 0 100px;
  text-align: center;
  font-size: 28px;
  gap: 24px;
}

.portofolio-content {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.card {
  border: 1px solid #1e1e1e;
  border-radius: 24px;
  width: 608px;
  background-color: white;
}

.card-content {
  margin: 24px;
}

.card h4 {
  margin: 24px 0;
  font-size: 26px;
}

.card .btn {
  display: flex;
  justify-content: center;
  margin: 36px;
}

.card button {
  color: white;
  font-size: 18px;
  padding: 20px 100px;
  background-color: var(--primary);
  border-radius: 15px;
  border: 0;
}

.testimonial-content {
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.coment {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 25px;
  padding: 24px;
}

.coment:nth-child(odd) {
  background-color: #eee2ff;
  color: var(--primary);
}
.coment:nth-child(even) {
  background-color: #ffead5;
  color: var(--secondary);
}

.sender {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sender h4 {
  color: #1e1e1e;
}
.sender p {
  color: #718096;
}

.coment-fill {
  font-style: italic;
}

.contact-content {
  margin: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 65px;
}

.invite {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.invite h2 {
  font-size: 48px;
}

.span :nth-child(1) {
  color: var(--primary);
}

.contact-privat {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: bold;
}

.alamat :nth-child(2) {
  color: var(--info);
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.message h3 {
  font-size: 36px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
input {
  width: 600px;
  height: 65px;
  border-radius: 15px;
  border: 0;
  background-color: #fff3e0;
}

form :nth-child(4) {
  height: 200px;
}

::placeholder {
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #b2b2b2;
  text-align: start;
}
.message button {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: 0;
  background-color: var(--primary);
  color: white;
  font-size: 16px;
}

footer {
  background-color: var(--primary);
  color: white;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 100px 20px 100px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 148px;
}

.footer-merk {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-merk h3 {
  font-size: 36px;
  font-weight: 600;
}

.copyright,
.footer-merk p,
.footer-explore h4,
.footer-contact h4 {
  font-size: 20px;
  font-weight: 500;
}

.footer-explore ul {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-footer {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  gap: 24px;
}

.follow-us h4 {
  margin-bottom: 12px;
}

.follow-us ul {
  list-style: none;
  display: flex;
  gap: 12px;
  align-items: center;
}

.copyright {
  text-align: center;
  font-size: 18px;
}
.sircle {
  position: absolute;
}
.dot-l {
  width: 646px;
  height: 646px;
  border-radius: 50%;
  z-index: -99;
}
.dot-m {
  width: 265px;
  height: 265px;
  z-index: -99;

  border-radius: 50%;
}
.dot-s {
  width: 155px;
  z-index: -99;
  height: 155px;
  border-radius: 50%;
}
.sircle-info {
  background-color: var(--info);
  position: absolute;
}
.sircle-secondary {
  background-color: var(--secondary);
  position: absolute;
}
.sircle-primary {
  background-color: var(--primary);
  position: absolute;
}
.satu {
  margin-left: 1117px;
  margin-top: 201px;
}
.dua {
  margin-left: -90px;
  margin-top: 811px;
}
.tiga {
  margin-left: 1402px;
  margin-top: 1202px;
}
.empat {
  margin-left: -197px;
  margin-top: 1898px;
}
.lima {
  margin-left: 1335px;
  margin-top: 2494px;
}
.enam {
  margin-left: -87px;
  margin-top: 2800px;
}
.tujuh {
  margin-left: 1010px;
  margin-top: 3175px;
}
.delapan {
  margin-left: 282px;
  margin-top: 4000px;
}
.sembilan {
  margin-left: 950px;
  margin-top: 4712px;
}
.garis {
  width: 73vw;
  height: 50px;
  background-color: var(--primary);
  position: absolute;
  z-index: -11;
  margin-left: 195px;
  margin-top: 50px;
}

/* Hamburger Menu  */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--primary);
  border-radius: 3px;
  transition: 0.5s;
}

/* Menu Annimation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: var(--info);
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: var(--info);
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* Tablet */
@media (max-width: 1080px) {
  nav {
    padding: 30px 80px;
  }

  .home {
    padding: 20px 40px;
  }
  .home-content {
    gap: 130px;
  }
  .picture {
    width: 420px;
  }
  .header,
  .contact-content h2 {
    font-size: 30px;
    margin: 0;
  }
  .about-content,
  .choose-content {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  .keahlian img {
    width: 100px;
  }
  .portofolio-content {
    flex-direction: column;
    justify-content: center;
    gap: 41px;
  }
  .card {
    width: 550px;
    margin: 0 auto;
  }
  .card img {
    width: 502px;
    margin-bottom: 30px;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .invite {
    margin: 0;
  }
  footer .container {
    padding: 18px 64px 18px 64px;
  }
  .footer-merk {
    grid-area: atas;
    align-items: center;
    text-align: center;
  }
  .footer-explore {
    grid-area: kiri;
  }
  .footer-contact {
    grid-area: kanan;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "atas atas" "kiri kanan";
    gap: 50px;
  }
  .copyright {
    font-size: 14px;
  }
  .dot-l {
    width: 499px;
    height: 499px;
  }
  .dot-m {
    width: 210px;
    height: 210px;
  }
  .dot-s {
    width: 121px;
    height: 121px;
  }
  .satu {
    margin-left: 843px;
    margin-top: 247px;
  }
  .tiga {
    margin-left: 946px;
    margin-top: 1252px;
  }
  .lima {
    margin-left: 756px;
    margin-top: 2531px;
  }
  .enam {
    margin-left: -20px;
    margin-top: 3100px;
  }
  .tujuh {
    margin-left: 615px;
    margin-top: 3757px;
  }
  .delapan {
    margin-left: 140px;
    margin-top: 4620px;
  }
  .sembilan {
    margin-left: 600px;
    margin-top: 5773px;
  }
  .garis {
    width: 73vw;
    height: 28px;
    margin-left: 140px;
    margin-top: 35px;
  }
  .menu-toggle {
    display: flex;
    z-index: 3;
  }

  .navigasi {
    color: white;
  }
  .navigasi ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary);
    align-items: center;
    z-index: 2;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  .navigasi ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Smartphone */
@media (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
  .keahlian img {
    width: 44px;
  }
  nav {
    padding: 20px 48px;
  }
  .home-content {
    gap: 62px;
    flex-direction: column;
  }
  .picture {
    display: flex;
    justify-content: center;
  }
  .picture img {
    width: 272.94px;
  }
  .introduce {
    width: 246px;
  }
  .introduce h1 {
    font-size: 65.81px;
    text-align: center;
  }
  .sender h4,
  .card h4,
  .introduce h4,
  .footer-merk p,
  .footer-explore h4,
  .footer-contact h4 {
    font-size: 14.41px;
  }
  .footer-merk h3,
  .message-content h3,
  .header,
  .contact-content h2 {
    font-size: 24px;
  }
  .copyright,
  .footer-contact p,
  .invite p,
  .sender p,
  .coment-fill,
  .card p,
  .choose-content,
  .about-content {
    font-size: 12px;
  }
  .about {
    margin: 48px 0;
  }
  .about-container,
  .choose {
    padding: 48px;
    margin: 0;
  }
  .keahlian ul {
    margin: 25px 48px;
  }
  .portofolio-content {
    margin: 48px auto;
  }
  .card {
    width: 380px;
    margin: 0 auto;
  }
  .card img {
    width: 332px;
    margin-bottom: 20px;
  }
  .card .btn {
    margin: 24px;
  }
  .card button {
    font-size: 12px;
    padding: 10px 50px;
    border-radius: 10px;
  }
  .testimonial-content {
    margin: 48px;
    gap: 16px;
  }
  .coment {
    gap: 16px;
    border-radius: 20px;
    padding: 16px;
  }
  .sender {
    gap: 5px;
  }
  .sender img {
    width: 35px;
  }
  .contact-content {
    margin: 48px;
    gap: 48px;
  }
  .contact-privat img {
    width: 35px;
  }
  .invite {
    gap: 16px;
  }
  form {
    gap: 16px;
  }
  input {
    width: 387.2px;
    height: 33px;
    border-radius: 10px;
  }

  form :nth-child(4) {
    height: 100px;
  }

  ::placeholder {
    padding: 12px;
    font-size: 12px;
    font-weight: 600;
  }
  .message button {
    width: 120px;
    height: 36px;
    font-size: 12px;
  }
  footer .container {
    padding: 14px 48px 14px 48px;
  }
  .contact-footer {
    gap: 16px;
  }
  .contact-footer img {
    width: 20px;
  }
  .footer-explore ul {
    font-size: 12px;
    margin-top: 18px;
    gap: 12px;
  }
  .follow-us img {
    width: 14px;
  }
  .dot-l {
    width: 252px;
    height: 252px;
  }
  .dot-m {
    width: 106px;
    height: 106px;
  }
  .dot-s {
    width: 61px;
    height: 61px;
  }
  .satu {
    margin-left: 311px;
    margin-top: 402px;
  }
  .dua {
    margin-left: -53px;
    margin-top: 396px;
  }
  .tiga {
    margin-left: 430px;
    margin-top: 911px;
  }
  .empat {
    margin-left: -111px;
    margin-top: 1274px;
  }
  .lima {
    margin-left: 380px;
    margin-top: 1614px;
  }
  .enam {
    margin-left: -23px;
    margin-top: 2050px;
  }
  .tujuh {
    margin-left: 327px;
    margin-top: 2540px;
  }
  .delapan {
    margin-left: 67px;
    margin-top: 3200px;
  }
  .sembilan {
    margin-left: 284px;
    margin-top: 3822px;
  }
  .garis {
    width: 69vw;
    height: 14px;
    margin-left: 90px;
    margin-top: 15px;
  }
}
